PORT=3000

PGHOST=localhost
PGPORT=5432
PGDATABASE=controle_epi
PGUSER=postgres
PGPASSWORD=sua_senha

# Se preferir usar URL unica, descomente e ajuste:
# DATABASE_URL=postgres://postgres:sua_senha@localhost:5432/controle_epi
# PGSSL=false
